{% extends 'base/base.html' %}
{% load staticfiles %}
{% load static %}
{% block SUBTITLE %}
    Cierre Mensual Economico-Financiero
{%endblock%}
{% block searchList %}
{% endblock %}
{% block style%}
{% endblock %}

{% block content %}

<style>
<!--.statistic {-->
  <!--margin: 1em 0;-->
  <!--text-transform: uppercase;-->
  <!--display: inline-block;-->

  <!--.value {-->
    <!--font-size: 4em;-->
    <!--line-height: 1em;-->
    <!--text-align: center;-->

    <!--&.text {-->
      <!--font-size: 2em;-->
      <!--font-weight: bold;-->
    <!--}-->

    <!--img {-->
      <!--max-height: .8em;-->
      <!--vertical-align: baseline;-->
    <!--}-->
  <!--}-->

  <!--.label {-->
    <!--color: inherit;-->
    <!--display: block;-->
    <!--font-size: 1em;-->
    <!--text-align: center;-->
  <!--}-->
<!--}-->

<!--.statistic + .statistic {-->
  <!--margin-left: 1.5em;-->
<!--}-->

<!--.statistic + .statistic {-->
  <!--margin-left: 1.5em;-->
<!--}-->

<!--/*** Horizontal Statistic ***/-->
<!--.statistic.horizontal {-->
  <!--.value,-->
  <!--.label {-->
    <!--display: inline;-->
    <!--vertical-align: middle;-->
  <!--}-->
<!--}-->
<!--form{-->

<!--}-->
.value{
    font-size: 150%;
}

.card{

    border-radius: 15px;
    width:75%
}
</style>

<form method='GET' enctype='multipart/form-data' id='formId'>


  <table>
      <tr>
        <th>
         <label for="mesCierreAnt">Mes de Cierre Anterior:</label>
        </th>
          <td>
              <input autocomplete="off" readonly  id="mesCierreAnt" type="text" class="form-control form-control-1 input-sm" name="t" placeholder="Ninguno" value="{{mesCierreAnt}}" >
          </td>
          <td>
            <input autocomplete="off"  readonly id="rangoAnt" class="form-control mr-sm-2" type="text" name="s" placeholder="Ninguno" value="{{rangoAnt}}" >

        </td>

      </tr>
      <tr>
        <th>
         <label for="mesCierre">Mes de Cierre Actual:</label>
        </th>
          <td>
              <input autocomplete="off" id="mesCierre" type="text" class="form-control form-control-1 input-sm" name="r" placeholder="Mes de Cierre" value="{{ request.GET.r }}" >
          </td>
          <td>
            <input autocomplete="off" id="reportrange" class="form-control mr-sm-2" type="text" name="q"  value="{{ request.GET.q }}" >

        </td>

      </tr>
  </table>
</form>

<br>
<form id="formPost" method="post">
{% csrf_token %}
<h4>Ingresos</h4>
<hr />
<div class="panel panel-default text-center">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="card border-info mb-3" style="max-width: 15rem;">
                    <div class="card-header">Mensual</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ingreso_mes}}</h4>
                    </div>
                </div>
            </div><!-- /.col -->

            <div class="col-sm-4">
                <div class="card border-info mb-3" style="max-width: 15rem;">
                    <div class="card-header">Acumulado</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ingreso_mes_acum}}</h4>
                    </div>
                </div>

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.panel-body -->
</div><!-- /.panel -->

<h4>Costos</h4>
<hr />
<div class="panel panel-default text-center">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="card border-info mb-3" style="max-width: 15rem;">
                    <div class="card-header">Tarjeta</div>
                    <div class="card-body">
                        <h4 class="card-title">{{costo_tarjeta}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-info mb-3" style="max-width: 15rem;">
                    <div class="card-header">Efectivo</div>
                    <div class="card-body">
                        <h4 class="card-title">{{costo_efectivo}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-info mb-3" style="max-width: 15rem;">
                    <div class="card-header">Acumulado</div>
                    <div class="card-body">
                        <h4 class="card-title">{{costo_acum}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.panel-body -->
</div><!-- /.panel -->

<h4>Resultado Economico</h4>
<hr />
    <div class="panel panel-default text-center">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="card border-info mb-3" style="max-width: 15rem;">
                    <div class="card-header">Mensual</div>
                    <div class="card-body">
                        <h4 class="card-title">{{res_econom_mes}}</h4>
                    </div>
                </div>
            </div><!-- /.col -->

            <div class="col-sm-4">
                <div class="card border-info mb-3" style="max-width: 15rem;">
                    <div class="card-header">Acumulado</div>
                    <div class="card-body">
                        <h4 class="card-title">{{res_econom_acum}}</h4>
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.panel-body -->
</div><!-- /.panel -->

<h4>Stock</h4>
<hr />
    <div class="panel panel-default text-center">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="card border-info mb-3" style="max-width: 15rem;">
                    <div class="card-header">Tarjeta</div>
                    <div class="card-body">
                        <h4 class="card-title">{{stock_tarjeta}}</h4>
                    </div>
                </div>
            </div><!-- /.col -->

            <div class="col-sm-4">
                <div class="card border-info mb-3" style="max-width: 15rem;">
                    <div class="card-header">Efectivo</div>
                    <div class="card-body">
                        <h4 class="card-title">{{stock_efectivo}}</h4>
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.panel-body -->
</div><!-- /.panel -->

<h4>Saldo Caja</h4>
<hr />
    <div class="panel panel-default text-center">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="card border-info mb-3" style="max-width: 15rem;">
                    <div class="card-header">Mensual</div>
                    <div class="card-body">
                        <h4 class="card-title">{{saldo_caja_mes}}</h4>
                    </div>
                </div>
            </div><!-- /.col -->

            <div class="col-sm-4">
                <div class="card border-info mb-3" style="max-width: 15rem;">
                    <div class="card-header">Acumulado</div>
                    <div class="card-body">
                        <h4 class="card-title">{{saldo_caja_acum}}</h4>
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.panel-body -->
</div><!-- /.panel -->

<h4>Resultado Financiero</h4>
<hr />
    <div class="panel panel-default text-center">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="card border-info mb-3" style="max-width: 15rem;">
                    <div class="card-header">Mensual</div>
                    <div class="card-body">
                        <h4 class="card-title">{{res_finan_mes}}</h4>
                    </div>
                </div>
            </div><!-- /.col -->

            <div class="col-sm-4">
                <div class="card border-info mb-3" style="max-width: 15rem;">
                    <div class="card-header">Acumulado</div>
                    <div class="card-body">
                        <h4 class="card-title">{{res_finan_mes_acum}}</h4>
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.panel-body -->
</div><!-- /.panel -->
<hr />
<div>
    <button id="CierreMensual" type="submit" name="CIERRE" value="{{context}}" class="btn btn-primary" >Cierre de Mes</button>
</div>
</form>

{% endblock %}
{% block scripts %}


    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <link href="{% static 'css/datepicker.min.css' %}" rel="stylesheet">
    <script>
    var startDate = new Date();
    var fechaFin = new Date();
    var FromEndDate = new Date();
    var ToEndDate = new Date();




    $('#mesCierre').datepicker({
        autoclose: true,
        minViewMode: 1,
        format: 'MM/yyyy'
        }).on('changeDate', function(selected){
                startDate = new Date(selected.date.valueOf());
                startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
                var date = $(this).datepicker('getDate'),
                        day  = date.getDate(),
                        month = date.getMonth() + 1,
                        year =  date.getFullYear();
                var FirstDay = new Date(year, month-1, 1);
                var LastDay = new Date(year, month , 0);
                console.log(FirstDay)
                console.log(LastDay)
                $('#reportrange').daterangepicker({
                    startDate:FirstDay,
                    endDate: LastDay,
                })
                var startDate   =  $("#reportrange").data('daterangepicker').startDate.format("YYYY-MM-DD");
                var endDate     =  $("#reportrange").data('daterangepicker').endDate.format("YYYY-MM-DD");
                $('#formId').append('<input type="hidden" name="inicio_date" value="'+startDate+'" />');
                $('#formId').append('<input type="hidden" name="fin_date" value="'+endDate+'" />');
                $('#formId').submit();

    });

    $('#mesCierreAnt').datepicker({
        autoclose: true,
        minViewMode: 1,
        format: 'MM/yyyy'


    });

    var $datepicker2 = $('#mesCierreAnt');
    $datepicker2.datepicker();
    console.log("ANTERIOR")
    console.log($('#mesCierreAnt').val())
    if($('#mesCierreAnt').val()===""||$('#mesCierreAnt').val()===null||$('#mesCierreAnt').val()==0){
        console.log("No hay valor")
    }else{
        $datepicker2.datepicker('setDate', new Date($('#mesCierreAnt').val()));
    }
    $("#mesCierreAnt").attr("disabled","disabled")
    $("#rangoAnt").attr("disabled","disabled")



    $( document ).ready(function() {
        $(".card-title").each(function() {
        var el = $(this)
        var value = parseFloat(el.text());
        console.log("VALUE EL")
            console.log(el)
        if (value < 0) {
            console.log("VALUEIFIFI")
            console.log(value)
            $(this).parent().parent().removeClass("card border-info mb-3");
            $(this).parent().parent().addClass("card border-primary mb-3");

        } else {
            el.css("font-weight", "normal");
        }
    });



    });
        $(function() {
        $('#reportrange').daterangepicker({
            <!--startDate: moment().startOf('month'),-->
            <!--endDate: moment().endOf('month'),-->
            ranges: {
               'Este Mes': [moment().startOf('month'), moment().endOf('month')],
            },
            "locale": {
                "format": "MM/DD/YYYY",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Ingresar Rango",
                "daysOfWeek": [
                    "Do",
                    "Lu",
                    "Ma",
                    "Mi",
                    "Ju",
                    "Vi",
                    "Sa"
                ],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Deciembre"
                ],
            "firstDay": 1
            }
        });
    });
    $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
      console.log("REPORTRANGE")
      console.log(picker.startDate.format('YYYY-MM-DD'));
      console.log(picker.endDate.format('YYYY-MM-DD'));
      var endDAte = picker.endDate.format('MMMM/YYYY')
      console.log(endDAte)
      $('#formId').append('<input type="hidden" name="inicio_date" value="'+picker.startDate.format('YYYY-MM-DD')+'" />');
      $('#formId').append('<input type="hidden" name="fin_date" value="'+picker.endDate.format('YYYY-MM-DD')+'" />');
        var $datepicker = $('#mesCierre');
        $datepicker.datepicker();
        $datepicker.datepicker('setDate', new Date(endDAte));
      <!--$('#formId').submit();-->
    });

    $('#CierreMensual').click(function (ev, picker) {
        if (confirm('Se Cerrara el mes con los Inventarios actuales, Desea continuar?')) {
            var startDate   =  $("#reportrange").data('daterangepicker').startDate.format("YYYY-MM-DD");
            var endDate     =  $("#reportrange").data('daterangepicker').endDate.format("YYYY-MM-DD");
            console.log(startDate)
            console.log(endDate)
            $('#formPost').append('<input type="hidden" name="inicio_date" value="'+startDate+'" />');
            $('#formPost').append('<input type="hidden" name="fin_date" value="'+endDate+'" />');
            console.log("CIERRE PRESIONADO")
            <!--event.preventDefault();-->
        } else {
            event.preventDefault();
        }




    });
    </script>


{% endblock %}