{% extends 'base/base.html' %}

{% block SUBTITLE %}
    Master
{%endblock%}

{% block searchList %}
{% endblock %}

{% block content %}


<table id="mastetable" class="table table-bordered table-hover">
	{% csrf_token %}

	<thead>
	<tr>
		<th scope="col">Codigo</th>
		<th scope="col">Razon Social</th>
        <th scope="col">Codigo Tributario</th>
	</tr>
	</thead>
	<tbody>
        {% if object_list %}
        {% for cad_master in object_list %}
		<tr class="clickable-row" data-href="{% url 'betaNegocio:cad_master_editar' cad_master.id %}">
            <td>{{cad_master.id}}</td>
			<td>{{cad_master.razon_social}}</td>
			<td>{{cad_master.cod_tributario}}</td>


		</tr>
        {% endfor %}
        {% else %}
        <h2>No Hay Resultados...</h2>
        {% endif %}
	</tbody>

</table>

<a id="btnMaster" class="btn btn-primary" href="{% url 'betaNegocio:cad_master_crear' %}">Nueva</a>

{% endblock %}
{% block scripts%}
    <script>
    $( document ).ready(function() {
     	var rowCount = $('#mastetable >tbody >tr').length;
     	console.log("rowCount");
     	console.log(rowCount);
     	if (rowCount > 0){
     		$('#btnMaster').hide()
     	}
     	$(".clickable-row").click(function() {
        window.location = $(this).data("href");
    	});
     	console.log("OKOKOK");
     });
  </script>
{% endblock %}