{% extends 'base/base.html' %}
{% block styles %}
    <style>
    .container
    {
        position: relative;
    }

    form {
        box-shadow: 10px 10px 5px grey;
        border: 1px solid #ccc;
        border-radius: 15px;
        padding: 12px;
    }


    </style>
{% endblock %}
{% block SUBTITLE %}
    Detalle de Mesas
{%endblock%}
{% block searchList %}
{% endblock %}
{% block content %}
<form id="formPost" method="post">
    {% csrf_token %}
    <div id="formdiv">
          <table><tbody>{% for field in form  %}
    {{ field.errors }}
    <td><strong>{{ field.label_tag }}</strong></td><td>{{ field }}</td>
  {% endfor %}</tbody></table>
    </div>
    <br>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Linea</th>
            <th scope="col">Insumo</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Importe</th>
        </tr>
    </thead>
    <tbody>
    {% if mov_mesas %}
    {% for cad_mesas_detalle in mov_mesas %}
        <tr class="clickable-row" data-href="#">
            <td>{{cad_mesas_detalle.linea}}</td>
            <td>{{cad_mesas_detalle.cod_insumo}}</td>
            <td>{{cad_mesas_detalle.cantidad_venta}}</td>
            <td>{{cad_mesas_detalle.precio_venta}}</td>
            <td>{{cad_mesas_detalle.importe|floatformat:2}}</td>
        </tr>
    {% endfor %}
    {% else %}
    <h2>No Hay Resultados...</h2>
    {% endif %}
    </tbody>
</table>

    {% block cancelar %}
        <a id="someIDA" class = "btn btn-secondary" href="{% url 'betaNegocio:cad_mesas_listar' %}">Volver</a>
    {% endblock %}

</form>

{% endblock %}
{% block scripts%}

    <script>
    $( document ).ready(function() {
         var loc = window.location.href;
        $('label[for=id_precio_venta], input#id_precio_venta').hide();
         if (($("#id_ind_C_V_A").val() == 'A') || ($("#id_ind_C_V_A").val() == 'V')){
            console.log("OVERYEAH")
             $('label[for=id_precio_venta], input#id_precio_venta').show();
        }
         $("#formdiv").find("*").prop("disabled", true);


         $.fn.select2.defaults.set( "theme", "bootstrap" );
        $.fn.select2.defaults.set( "width", "auto" );
        $.fn.select2.defaults.set( "placeholder", "Seleccione" );
        $.fn.select2.defaults.set( "selectOnClose", "true" );
        $('.js-example-basic-single').select2();
        $('js-example-basic-single').select2("enable",false)



     });

     $('#formPost').keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            console.log("Enter does nothing")
            return false;
        }
    });
  </script>
{% endblock %}