{% extends 'base/base.html' %}

{% block SUBTITLE %}
    Costos
{%endblock%}
{% block searchList %}

{% endblock %}


{% block content %}




<br>
<br>
<table class="table table-bordered table-hover">
	{% csrf_token %}


	<thead>
	<tr>
		<th hidden scope="col">Registro</th>
        <th hidden scope="col">Codigo</th>
        <th scope="col">Fecha de Movimiento</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad de Costo</th>
        <th scope="col">Modo de Pago</th>
        <th scope="col">Valor del Costo</th>
	</tr>
	</thead>
	<tbody>
        {% if object_list %}
        {% for cad_costos in object_list %}
		<tr class="clickable-row" data-href="#">
			<td hidden>{{cad_costos.id}}</td>
            <td hidden>{{cad_costos.cod_insumo}}</td>
            <td>{{cad_costos.fecha_trabajo}}</td>
            <td>{{cad_costos.cod_insumo.nombre_insumo}}</td>
            <td>{{cad_costos.cantidad_costo}}</td>
            <td>{{cad_costos.modo_pago_c}}</td>
            <td>{{cad_costos.valor_costo}}</td>



		</tr>
        {% endfor %}
        {% else %}
        <h2>No Hay Resultados...</h2>
        {% endif %}
	</tbody>

</table>

{% endblock %}
{% block scripts%}
    <script>
    $( document ).ready(function() {
     	$(".clickable-row").click(function() {
        window.location = $(this).data("href");
    	});
     	console.log("OKOKOK");
     	$.fn.select2.defaults.set( "theme", "bootstrap" );
        $.fn.select2.defaults.set( "width", "auto" );
        $.fn.select2.defaults.set( "placeholder", "Seleccione" );
        $.fn.select2.defaults.set( "selectOnClose", "true" );
        $('.js-example-basic-single').select2();


    });





  </script>
{% endblock %}