{% extends 'base/base.html' %}

{% block searchList %}
{% endblock %}
{% block SUBTITLE %}
    Ingreso de Inventario
{%endblock%}
{% block content %}
<form id="formDelete" method="post">
    {% csrf_token %}

    <div id="formdiv">
        <table>{{ form.as_table }}</table>
    </div>


    <button class="btn btn-danger" type="submit">Si, eliminar</button>
    <a class = "btn btn-primary" href="{% url 'betaNegocio:cad_stock_listar' %}">Cancelar</a>

</form>

{% endblock %}

{% block scripts%}
    <script>
    $( document ).ready(function() {
         var loc = window.location.href;
         $("#formdiv").find("*").prop("disabled", true);
         $.fn.select2.defaults.set( "theme", "bootstrap" );
        $.fn.select2.defaults.set( "width", "auto" );
        $.fn.select2.defaults.set( "placeholder", "Seleccione" );
        $.fn.select2.defaults.set( "selectOnClose", "true" );
        $('.js-example-basic-single').select2();
     });

    $('#formDelete').keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            console.log("Enter does nothing")
            return false;
        }
    });
  </script>
{% endblock %}