{% extends 'base/base.html' %}

{% block SUBTITLE %}
    Inventario Detalle por Insumo
{%endblock%}
{% block searchList %}
{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div id="formdiv">
        <table>{{ form.as_table }}</table>
        <table class="table table-bordered table-hover">
	    {% csrf_token %}

	        <thead>
	        <tr>
                <th scope="col">Registro</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha Movimiento</th>
                <th scope="col">Veces</th>
                <th scope="col">Cantidad en Stock</th>
	        </tr>
	        </thead>
	        <tbody>
            {% if mov_insumos %}
            {% for cad_stock in mov_insumos %}
            <tr class="clickable-row" data-href="{% url 'betaNegocio:cad_stock_detalle_insumo' cad_stock.id %}">
                <td>{{cad_stock.id}}</td>
                <td>{{cad_stock.cod_insumo.nombre_insumo}}</td>
                <td>{{cad_stock.fec_movimiento}}</td>
                <td>{{cad_stock.num_veces}}</td>
                <td>{{cad_stock.cantidad_mov}}</td>



            </tr>
            {% endfor %}
            {% else %}
            <h2>No Hay Resultados...</h2>
            {% endif %}
	        </tbody>
        </table>

    </div>

    <br>
    <a class="btn btn-success" href="{% url 'betaNegocio:cad_stock_crear_ingreso' %}">Ingreso</a>
        <a class="btn btn-danger" href="{% url 'betaNegocio:cad_stock_crear_ingreso' %}">Salida</a>
    {% block cancelar %}
        <a id="someIDA" class = "btn btn-secondary" href="{% url 'betaNegocio:cad_stock_listar' %}">Volver</a>
    {% endblock %}

</form>

{% endblock %}
{% block scripts%}
    <script>
    $( document ).ready(function() {
         var loc = window.location.href;
         $("#formdiv").find("*").prop("disabled", true);
     });
    $( document ).ready(function() {
     	$(".clickable-row").click(function() {
        window.location = $(this).data("href");
    	});
     	console.log("OKOKOK");
     });
  </script>
{% endblock %}