{% extends 'base/base.html' %}

{% block styles %}
<style>
    #formdiv {
        border: 1px solid #ccc;
        border-radius: 15px;
        padding: 12px;

    }

    #tdAgregarbutton {
        padding-left: 12px;

    }


   .pull-right {
        float: right;
    }

    #tab_logic_total{
        box-shadow: 10px 10px 5px grey;
    }

    #tab_logic{
        box-shadow: 10px 10px 5px grey;
    }

     #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
    }

</style>

{% endblock %}

{% block SUBTITLE %}
    Mesa {{mesa}}
{%endblock%}
{% block searchList %}
{% endblock %}



{% block content %}




<form id="formPost" method="post">
    {% csrf_token %}



    <table><tbody>{% for field in form  %}
    {{ field.errors }}
    <td><strong>{{ field.label_tag }}</strong></td><td>{{ field }}</td>
  {% endfor %}</tbody></table>

    <br>


  <div class="row clearfix">

      <div id="formdiv" class="form-group">
          <table>
              <tr>
                  <th>
                      <label for="selecProducto">Producto:</label>
                  </th>
                  <td>
                      <select name="descripcion" class="js-example-basic-single" style="width:auto" id="selecProducto">
                  </td>
                  <th>
                      <label for="selectStock">Stock:</label>
                  </th>
                  <td>
                      <input type="text" name="stock" class="form-control" style="width:100px" readonly id="selectStock">
                  </td>
                  <th>
                      <label for="selecCant">Cantidad:</label>
                  </th>
                  <td>
                      <input type="number" name="selecCant"  class="form-control" style="width:100px" id="selecCant">
                  </td>
                  <td id="tdAgregarbutton">
                      <button type="button" id="agregarProd" class="btn btn-outline-info ">+ Agregar</button>
                  </td>
              </tr>
          </table>
      </div>


    <div class="v l-md-12">
      <table class="table table-bordered table-hover" id="tab_logic">
        <thead>
          <tr>
            <th class="text-center"> # </th>
            <th class="text-center"> Producto </th>
            <th hidden class="text-center"> codigo</th>
            <th class="text-center"> Cant </th>
            <th class="text-center"> Precio </th>
            <th class="text-center"> Importe </th>
          </tr>
        </thead>
        <tbody id="tbodyDetalle">
          <tr id='addr0' >
            <td>1</td>
            <td><input id="prod0" name='producto' class="form-control" required readonly="true" /></td>
            <td hidden width="120px" ><input id="cod0" type="number" name='codigo' class="form-control cod" /></td>
            <td width="120px" ><input id="cant0" type="number" name='cantidad'  placeholder='Cant' required readonly class="form-control qty" step="0" min="0"/></td>
            <td width="150px" ><input id="prec0" type="number" name='precio' placeholder='Precio Unitario' required readonly class="form-control price" step=".01" /></td>
            <td><input id="total0" type="number" name='total' placeholder='0.00' class="form-control total" readonly step="0.01" /></td>
            <td><button type='button' id='delete_Linea0' class='btn btn-outline-danger eliminar' >- Quitar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


<div id="divLogical" class="pull-right">

    <div class="row clearfix" style="margin-top:20px">

      <table class="table table-bordered table-hover" id="tab_logic_total">
        <tbody>
          <tr>
            <th class="text-center">Sub Total</th>
            <td class="text-center"><input type="number" name='sub_total' placeholder='0.00' class="form-control" id="sub_total" readonly/></td>
          </tr>
          <tr>
            <th class="text-center">Impuesto 1</th>
            <td class="text-center"><div class="input-group mb-2 mb-sm-0">
                <input type="number" class="form-control" id="tax" placeholder="0">
                <div class="input-group-addon">%</div>
              </div></td>
          </tr>
          <tr>
            <th class="text-center">Impuesto 2</th>
            <td class="text-center"><div class="input-group mb-2 mb-sm-0">
                <input type="number" class="form-control" id="tax2" placeholder="0">
                <div class="input-group-addon">%</div>
              </div></td>
          </tr>
          <tr>
            <th class="text-center">Monto de Impuesto</th>
            <td class="text-center"><input type="number" name='tax_amount' id="tax_amount" placeholder='0.00' class="form-control" readonly/></td>
          </tr>
          <tr>
            <th class="text-center">Total</th>
            <td class="text-center"><input type="number" name='total_amount' id="total_amount" placeholder='0.00' class="form-control" readonly/></td>
          </tr>
        </tbody>
      </table>
    </div>
   <div class="row clearfix">
    <div class="col-md-12">
      <button id="btnGuardar" type="submit" class="btn btn-success">Guardar</button>
      <a id="someIDA" class = "btn btn-secondary" href="{% url 'betaNegocio:cad_costos_ver_mesas' %}">Cancelar</a>

    </div>
  </div>
  </div>
</form>


{% endblock %}
{% block scripts%}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


    <script>
    var select_data
    var list_lineas = []
    $(document).ready(function(){
        $.fn.select2.defaults.set( "theme", "bootstrap" );
        $.fn.select2.defaults.set( "width", "auto" );
        $.fn.select2.defaults.set( "placeholder", "Seleccione" );
        $.fn.select2.defaults.set( "selectOnClose", "true" );
        $('.js-example-basic-single').select2();
        $('#id_num_mesa').val({{mesa}})
        var fecha_trabajo = $("#id_fecha_trabajo").val();
        var num_mesa = $("#id_num_mesa").val();
        $('label[for=id_num_mesa], input#id_num_mesa').hide();
        $('label[for=id_valor_vendido], input#id_valor_vendido').hide();
        console.log("VAVA")
        $.ajax({
            url: 'ajax/valida_siguente_vez_fecha_mesa/',
            data: {
                'fecha_trabajo': fecha_trabajo,
                'num_mesa': num_mesa
            },
            dataType: 'json',
            success: function (data) {
                console.log("funciono OMG")
                console.log(data.numveces)
                $("#id_num_veces").val(data.numveces);
            }
        });

        $.ajax({
            url: 'ajax/retornaJsonInsumos/',
            dataType: 'json',
            success: function (data) {
                select_data = data
                $('.js-example-basic-single').append('<option value=""></option>');
                $.each(data, function(i, obj) {
                    $('.js-example-basic-single').append('<option value="'+i+'">'+obj.nombre_insumo+'</option>');
                });



            }
        });

        $.ajax({
            url: 'ajax/retorna_parametros_master/',
            success: function (data) {
                console.log(data)
                $('#tax').val(data.imp_venta);
                $('#tax2').val(data.imp_restaurante);

           }
        });


    });



    var fecha_trabajo = $("#id_fecha_trabajo").val();
    var num_mesa = $("#id_num_mesa").val();
    $("#id_valor_vendido").val($("#total_amount").val());

    var i=1;

    $('.js-example-basic-single').on("change", function (e) {
        var actualIDlinea = $(this).attr("id").replace('prod','');
        var cod_insumo = ($(this).val());
        $('#selectStock').val(select_data[cod_insumo].stock);
        $('#prec'+ actualIDlinea).val(select_data[cod_insumo].precio_venta);
        $('#cant'+ actualIDlinea).val(0);
    });

    var filas = 0
    var actualIDlinea = 0
    $("#agregarProd").click(function(){
        console.log($("#selecProducto").val())
        if (($("#selecProducto").val() != 0) && ($("#selecCant").val()>0)){
            if (parseFloat($('#selectStock').val())<parseFloat($('#selecCant').val())){
                console.log($("#selectStock").val())
                console.log($("#selecCant").val())
                alert('Stock insuficiente');
            }else{
                console.log("validado")
                if (filas<1){
                    console.log("PriemraLinea")
                    $("#prod"+actualIDlinea).val($("#selecProducto option:selected" ).text())
                    $("#cod"+actualIDlinea).val($('#selecProducto').val())
                    $("#cant"+actualIDlinea).val($('#selecCant').val())
                    $("#prec"+actualIDlinea).val(select_data[$('#selecProducto').val()].precio_venta)

                }else{
                    $('#tab_logic').append('<tr id="addr'+(i)+'"></tr>');
                    $('#addr'+i).append("<td>"+(filas+1)+"</td><td><input id='prod"+i+"' name='producto' value='" +$("#selecProducto option:selected" ).text()+ "' class='form-control' readonly /></td><td hidden width='120px' ><input id='cod"+i+"' type='number' name='codigo' class='form-control cod' value='"+$('#selecProducto').val()+"' /></td><td width='120px'><input type='number' id='cant"+i+"' name='cantidad' value='"+ $('#selecCant').val() +"' placeholder='Cantidad' readonly class='form-control qty' step='0' min='0'/></td><td width='150px'><input type='number' id='prec"+i+"' name='precio' value='"+select_data[$('#selecProducto').val()].precio_venta+"' placeholder='Precio Unitario' readonly class='form-control price' step='0.00' min='0'/></td><td><input type='number'id='total"+i+"' name='total' placeholder='0.00' class='form-control total' step='.01' readonly/></td><td><button type='button' id='delete_Linea"+i+"' class='btn btn-outline-danger eliminar'>- Quitar</button></td>")
                    $('#addr'+i).find('.eliminar').click(function() {
                        console.log("ID=")
                        console.log($(this).attr("id"))
                        actualIDlinea = $(this).attr("id").replace('delete_Linea','');
                        if (filas > 1){
                            $('#addr'+actualIDlinea).remove();
                            filas--;
                            var reorderna=1
                            $('#tab_logic > tbody  > tr').each(function() {
                                console.log("SOMETHHINS")
                                $(this).find('td:first-child').html(reorderna++);
                            });
                        }else{
                            $("#prod"+actualIDlinea).val("")
                            $("#cant"+actualIDlinea).val(0)
                            $("#prec"+actualIDlinea).val(0.00)
                            filas--;
                        }
                        calc();
                        console.log("Filas D = " + filas)
                    });
                }
                filas++;
                console.log("Filas = " + filas)
                calc();
                i++;
                select_data[$("#selecProducto").val()].stock = select_data[$("#selecProducto").val()].stock - $("#selecCant").val()
                $('#selectStock').val(0);
                $("#selecCant").val(0)
                console.log("REACG")
                $('#selecProducto').empty();
                var data =  select_data
                $('.js-example-basic-single').append('<option value=""></option>');
                $.each(data, function(i, obj) {
                    $('.js-example-basic-single').append('<option value="'+i+'">'+obj.nombre_insumo+'</option>');
                });

            }

        }else{
            alert('Seleccione Producto y cantidad');
        }




    });

    $("#delete_Linea0").click(function(){
        select_data[$("#cod0").val()].stock = parseFloat(select_data[$("#cod0").val()].stock) + parseFloat($("#cant0").val())
        if (filas > 1){
            $('#addr0').remove();
             var reorderna=1
            $('#tab_logic > tbody  > tr').each(function() {
                console.log("Reordena")
                $(this).find('td:first-child').html(reorderna++);
            });
            filas--;
            console.log("Filas D = " + filas)

        }else{
            $("#prod0").val("")
            $("#cod0").val(0)
            $("#cant0").val(0)
            $("#prec0").val(0.00)
            filas--;
            console.log("Filas D = " + filas)
        }

        calc();
    });


    $('#tab_logic tbody').on('keyup change',function(){
        calc();
    });

    $('#tax').on('keyup change',function(){
        calc_total();
    });

    $('#tax2').on('keyup change',function(){
        calc_total();
    });


    $('#formPost').keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            console.log("Enter does nothing")
            return false;
        }
    });

    $('#btnGuardar').on('click', function() {
        $("#id_valor_vendido").val($("#total_amount").val());
            if (($("#id_valor_vendido").val() <= 0) || ($("#total_amount").val() <= 0)){
                alert('Valor Vendido no permitido');
                event.preventDefault();
        };
    });

    function calc(){
        $('#tab_logic tbody tr').each(function(i, element) {
            var html = $(this).html();
            if(html!=''){
                var qty = $(this).find('.qty').val();
                var price = $(this).find('.price').val();
                $(this).find('.total').val((qty*price).toFixed(2));
                calc_total();
            }
        });
    }

    function calc_total(){
        total=0;
        $('.total').each(function() {
            total += parseInt($(this).val());
        });
        $('#sub_total').val(total.toFixed(2));
            tax_sum=total/100*$('#tax').val() + total/100*$('#tax2').val();
        $('#tax_amount').val(tax_sum.toFixed(2));
        $('#total_amount').val((tax_sum+total).toFixed(2));
    }

    $('form').submit(function() {
        document.getElementById("overlay").style.display = "block";
        document.getElementById("floatingCirclesG").style.display = "block";
    });

  </script>
{% endblock %}

