{% extends 'base/base.html' %}
<
{% block SUBTITLE %}
    Insumos de Consumo
{%endblock%}
{% block searchList %}
{% endblock %}
{% block content %}
    <form id="formPost" method="post">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>

        <br>
        <button type="submit" class="btn btn-primary">Guardar</button>
        {% block cancelar %}
            <a id="someIDA" class = "btn btn-secondary" href="{% url 'betaNegocio:cad_insumos_listar' %}">Cancelar</a>
        {% endblock %}

    </form>

{% endblock %}

{% block scripts%}

    <script>
    $( document ).ready(function() {
     console.log( "ready!" );
        $.fn.select2.defaults.set( "theme", "bootstrap" );
        $.fn.select2.defaults.set( "width", "auto" );
        $.fn.select2.defaults.set( "placeholder", "Seleccione" );
        $.fn.select2.defaults.set( "selectOnClose", "true" );
        $('.js-example-basic-single').select2();
        $('label[for=id_precio_venta], input#id_precio_venta').hide();
        if (($("#id_ind_C_V_A").val() == 'A') || ($("#id_ind_C_V_A").val() == 'V')){
            console.log("OVERYEAH")
             $('label[for=id_precio_venta], input#id_precio_venta').show();
        }


    });

     $("#id_ind_C_V_A").change(function(){
       if (($("#id_ind_C_V_A").val() == 'A') || ($("#id_ind_C_V_A").val() == 'V')){
            console.log("OVERYEAH")
             $('label[for=id_precio_venta], input#id_precio_venta').show();
        }
        else{
            $('label[for=id_precio_venta], input#id_precio_venta').hide();
        }
    });



    $('#formPost').keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            console.log("Enter does nothing")
            return false;
        }
    });
  </script>
{% endblock %}