{% extends 'base/base.html' %}
{% load static %}
{% block SUBTITLE %}
    Caja
{%endblock%}
{% block searchList %}
{% endblock %}
{% block content %}
{% block styles %}
{% endblock %}
<style>
    #divnumpad{
        position :static;
    }

    #btnIngCaja{
        margin:30px
    }

    #btnEgrCaja{
        margin:30px
    }

     #btnBorrarCaja{
        margin:30px
    }


   form #tableNumpad{
       margin: 0 auto;
       border: 1px solid #ccc;
    }

    form #monto{
        margin: 0 auto;
        height:60px;
        font-size:50pt;
        width:474px


    }
    #monto{
       text-align: right;
        background: #ffffcc;
    }




//

body {
  background: #EEE;
  font-family: sans-serif;
  font-size: 20px;
  margin: 3em;
  padding: 0;
}
#register {
  width: 20em;
  margin: auto;
}
#ticket {
  background: white;
  margin: 0 1em;
  padding: 1em;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
}
#ticket h1 {
  text-align: center;
}
#ticket table {
  font-family: monospace;
  width: 100%;
  border-collapse: collapse;
}
#ticket td, #ticket th {
  padding: 5px;
}
#ticket th {
  text-align: left;
}
#ticket td, #ticket #total {
  text-align: right;
}
#ticket tfoot th {
  border-top: 1px solid black;
}

#entry {
  background: #333;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
}
#entry input {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  text-align: right;
  font-family: sans-serif;
  font-size: 20px;
  box-shadow: inset 0 0 3px rgba(0,0,0,.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#entry input:focus {
  outline: none;
  border-color: rgba(255,255,255,.75);
}

#register{
    overflow-y: scroll;
    height:400px;
    border: 1px solid #ccc;
    }

#parentdiv{
    display:table
    margin: 0 auto;
}

#left{
    margin: 0 auto;
    display:table-cell
}
#center{
    display:table-cell
}
#right{
 background: #EEE;
 margin: 0 auto;
 display:table-cell
}

#historialcaja{
background: #EEE;
}




</style>

    <link href="{% static 'css/circlenumpad.css' %}" rel="stylesheet">


<form id="formPost" method="post">
    {% csrf_token %}
    <table><tbody>{% for field in form  %}
    {{ field.errors }}
    <td><strong>{{ field.label_tag }}</strong></td><td>{{ field }}</td>
    {% endfor %}</tbody></table>

<div id="parentdiv">

    <div id="right">
    <input align="right" name="name" id="monto" class="form-control" value="" />
    <table id="tableNumpad">

    <tr>
        <td>
            <div class="span4">
                <div class="num">
                    <div class="txt">
                        7
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="span4">
                <div class="num">
                    <div class="txt">
                        8
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="span4">
                <div class="num">
                    <div class="txt">
                        9
                    </div>
                </div>
            </div>
        </td>
        <td>
            <button id="btnIngCaja"  type="button" class="btn btn-outline-success btn-lg">INGRESO</button>
        </td>
    </tr>
    <tr>
        <td>
            <div class="span4">
                <div class="num">
                    <div class="txt">
                        4
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="span4">
                <div class="num">
                    <div class="txt">
                        5
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="span4">
                <div class="num">
                    <div class="txt">
                        6
                    </div>
                </div>
            </div>
        </td>
        <td>
            <button id="btnEgrCaja"  type="button" class="btn btn-outline-danger btn-lg">EGRESO</button>
        </td>
    </tr>
    <tr>
        <td>
            <div class="span4">
                <div class="num">
                    <div class="txt">
                        1
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="span4">
                <div class="num">
                    <div class="txt">
                        2
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="span4">
                <div class="num">
                    <div class="txt">
                        3
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="span4">
                <div class="num">
                    <div class="txt">
                        0
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="span4">
                <div class="num">
                    <div class="txt">
                        00
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="span4">
                <div class="num">
                    <div class="txt">
                        .
                    </div>
                </div>
            </div>
        </td>
        <td>
            <button id="btnBorrarCaja"  type="button" class="btn btn-warning btn-lg">BORRAR</button>
        </td>
    </tr>




</table>
        <label for="Text1">Nota:</label><input id="Text1" name="Text1" ></input>
</div>


    <div id="left">

    <div  id="register">
        <div id="ticket">
            <h1 id="fecCaja">Thank You!</h1>
            <table>
                <tbody id="entries">
                </tbody>
                <tfoot>
                <tr>
                    <th>Total</th>
                    <th id="total">$0.00</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>

</div>

 <br>
    {% block cancelar %}
        <a id="someIDA" class = "btn btn-secondary" href="{% url 'betaNegocio:cad_ing_ret_listar' %}">Volver</a>
    {% endblock %}




</form>

{% endblock %}

{% block scripts%}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
    var movcaja;
    var total = 0;
    $( document ).ready(function() {
        console.log( "ready!" );
        console.log($('#id_fecha_trabajo').val())
        $('#fecCaja').text($('#id_fecha_trabajo').val());
        var fecha_trabajo = $('#id_fecha_trabajo').val()
        $.ajax({
            url: 'ajax/retornaJsonCajaMov/',
            data: {
                'fecha_trabajo': fecha_trabajo,
            },
            dataType: 'json',
            success: function (data) {
                movcaja = data
                $.each(data, function(i, obj) {
                    console.log(obj.ind_ing_egr)
                    if (obj.ind_ing_egr == 'E'){
                        console.log("IF??")
                        obj.valor_ing_ret = obj.valor_ing_ret * (-1);
                    }
                    currency = currencyFormat(obj.valor_ing_ret);
                    document.getElementById('entries').innerHTML += '<tr><td></td><td>' + currency + '</td></tr>';
                    console.log("total")
                    console.log(total)
                    console.log("obj.valor_ing_ret")
                    console.log(obj.valor_ing_ret)

                    total = parseFloat(total) + parseFloat(obj.valor_ing_ret);
                    console.log("total")
                    console.log(total)
                    document.getElementById('total').innerHTML = currencyFormat(total);


                    function currencyFormat(number) {
                        var currency = parseFloat(number);
                        currency = currency.toFixed(2);
                        currency = '$' + currency;
                        return currency;
                    }

                     var objDiv = document.getElementById("register");
                    objDiv.scrollTop = objDiv.scrollHeight;
                });
            }
        });



    //$('label[for=id_valor_ing_ret], input#id_valor_ing_ret').hide();

    });

     $('.num').click(function () {
        var num = $(this);
        var text = $.trim(num.find('.txt').clone().children().remove().end().text());
        var monto = $('#monto');
        $(monto).val(monto.val() + text);

    });

     $('#btnIngCaja').click(function () {



        $('#id_valor_ing_ret').val($('#monto').val());

        var entry = $('#monto').val();
        var notas = $('#Text1').val();
        if (($.isNumeric(entry))){
            $('#monto').val("")
            $('#Text1').val("")
            var entry = parseFloat(entry);
            var fecha_trabajo = $('#id_fecha_trabajo').val();
            var ind_ing_egr = 'I'

            console.log("lognotas")
            console.log($('#Text1'))
            console.log(notas)

            $.ajax({
                type: "POST",
                url: 'ajax/graba_ing_ret/',
                data: {
                    'fecha_trabajo': fecha_trabajo,
                    'ind_ing_egr': ind_ing_egr,
                    'entry': entry,
                    'notas':notas,
                    csrfmiddlewaretoken: '{{ csrf_token }}',

                },
                success: function (data) {
                    console.log("funciono OMG POST")
                    currency = currencyFormat(entry);
                    document.getElementById('entries').innerHTML += '<tr><td></td><td>' + currency + '</td></tr>';
                    total = parseFloat(total) + parseFloat(entry);
                    document.getElementById('total').innerHTML = currencyFormat(total);
                    var objDiv = document.getElementById("register");
                    objDiv.scrollTop = objDiv.scrollHeight;

                    function currencyFormat(number) {
                        var currency = parseFloat(number);
                        currency = currency.toFixed(2);
                        currency = '$' + currency;
                        return currency;
                    }


                }
            });
        }
        else{
            alert('Cantidad no permitida');
            event.preventDefault();
        }




    });


    $('#btnEgrCaja').click(function () {

        $('#id_valor_ing_ret').val($('#monto').val());

        var entry = $('#monto').val();
        var notas = $('#Text1').val();
        if (($.isNumeric(entry))){
            $('#monto').val("")
            $('#Text1').val("")
            var entry = parseFloat(entry);
            var fecha_trabajo = $('#id_fecha_trabajo').val();
            var ind_ing_egr = 'E'


            $.ajax({
                type: "POST",
                url: 'ajax/graba_ing_ret/',
                data: {
                    'fecha_trabajo': fecha_trabajo,
                    'ind_ing_egr': ind_ing_egr,
                    'entry': entry,
                    'notas':notas,
                    csrfmiddlewaretoken: '{{ csrf_token }}',

                },
                success: function (data) {
                    console.log("funciono OMG POST")
                    entry = entry * (-1);
                    currency = currencyFormat(entry);
                    document.getElementById('entries').innerHTML += '<tr><td></td><td>' + currency + '</td></tr>';
                    total = parseFloat(total) + parseFloat(entry);
                    document.getElementById('total').innerHTML = currencyFormat(total);
                    var objDiv = document.getElementById("register");
                    objDiv.scrollTop = objDiv.scrollHeight;

                    function currencyFormat(number) {
                        var currency = parseFloat(number);
                        currency = currency.toFixed(2);
                        currency = '$' + currency;
                        return currency;
                    }

                }
            });
        }
        else{
            alert('Cantidad no permitida');
            event.preventDefault();
        }







    });


    $('#btnBorrarCaja').click(function () {

        $('#id_valor_ing_ret').val('');
        $('#monto').val('');

    });

    $("#id_fecha_trabajo").bind('keyup change',function(){
        console.log( $(this).val() );
        $('#fecCaja').text($('#id_fecha_trabajo').val());
        var fecha_trabajo = $("#id_fecha_trabajo").val();
        document.getElementById('entries').innerHTML = "";
        total = 0
        document.getElementById('total').innerHTML = currencyFormat(total);

        function currencyFormat(number) {
                    var currency = parseFloat(number);
                    currency = currency.toFixed(2);
                    currency = '$' + currency;
                    return currency;
        }

        $.ajax({
            url: 'ajax/retornaJsonCajaMov/',
            data: {
                'fecha_trabajo': fecha_trabajo,
            },
            dataType: 'json',
            success: function (data) {
                movcaja = data
                $.each(data, function(i, obj) {
                    if (obj.ind_ing_egr == 'E'){
                        obj.valor_ing_ret = obj.valor_ing_ret * (-1);
                    }
                    currency = currencyFormat(obj.valor_ing_ret);
                    document.getElementById('entries').innerHTML += '<tr><td></td><td>' + currency + '</td></tr>';
                    total = parseFloat(total) + parseFloat(obj.valor_ing_ret);
                    document.getElementById('total').innerHTML = currencyFormat(total);
                    function currencyFormat(number) {
                        var currency = parseFloat(number);
                        currency = currency.toFixed(2);
                        currency = '$' + currency;
                        return currency;
                    }

                    var objDiv = document.getElementById("register");
                    objDiv.scrollTop = objDiv.scrollHeight;
                });
            }
        });

    });


    $('#formPost').keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            console.log("Enter does nothing")
            return false;
        }
    });

    $('form').submit(function() {
        document.getElementById("overlay").style.display = "block";
        document.getElementById("floatingCirclesG").style.display = "block";
    });

    //






  </script>
{% endblock %}