{% extends 'base/base.html' %}

{% block SUBTITLE %}
    Master
{%endblock%}
{% block searchList %}
{% endblock %}
{% block content %}
<form id="formPost" method="post">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>

    <br>
    <button type="submit" class="btn btn-primary">Guardar</button>
    {% block cancelar %}
        <a id="someIDA" class = "btn btn-secondary" href="{% url 'betaNegocio:cad_master_listar' %}">Cancelar</a>
    {% endblock %}
    <button id="RESET" type="submit" name="RESETBTN" class="btn btn-warning">RESET</button>

</form>

{% endblock %}

{% block scripts%}
    <script>
    $( document ).ready(function() {
     console.log( "ready!" );

    });
    $('#formPost').keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            console.log("Enter does nothing")
            return false;
        }
    });


    $('#RESET').on('click', function() {
            if (confirm('Se borraran las tablas "STOCK" , "COSTO", "MESAS", "CAJA" y "ESTADO FINAN", Desea continuar?')) {
                console.log(inicial_cantidad_mov)
                console.log(inicial_id_valor_insumo)
                $("#id_cantidad_costo").val(inicial_cantidad_mov)
                $("#id_valor_costo").val(inicial_id_valor_insumo);
            } else {
                event.preventDefault();
            }


    });

    $('form').submit(function() {
        document.getElementById("overlay").style.display = "block";
        document.getElementById("floatingCirclesG").style.display = "block";
    });
  </script>
{% endblock %}