{% extends 'base/base.html' %}

{% block styles %}
<style>
    #formdiv {
        border: 1px solid #ccc;
        border-radius: 15px;
        padding: 12px;
        box-shadow: 10px 10px 5px grey;
    }

    #divright{
        box-shadow: 10px 10px 5px grey;
        border: 1px solid #ccc;
        border-radius: 15px;
        background: #EEE;
        margin: 0 auto;
        display:table-cell

    }

    #tdAgregarbutton {
        padding-left: 12px;

    }


   .pull-right {
        float: right;
    }

    #tab_logic_total{
    }

    #tab_logic{
    }

     #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
    }
  .classbillete{

    box-shadow: 10px 10px 5px grey;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 5px;
    font-size:10pt;

    }
    #pagarData{
        text-align: center;
    }

</style>

{% endblock %}

{% block SUBTITLE %}
    Mesa {{mesa}}
{%endblock%}
{% block searchList %}
{% endblock %}



{% block content %}




<form id="formPost" method="post">
    {% csrf_token %}



    <table><tbody>{% for field in form  %}
    {{ field.errors }}
    <td><strong>{{ field.label_tag }}</strong></td><td>{{ field }}</td>
    {% endfor %}</tbody></table>

    <br>


    <div id="parentdiv" class="row">
        <div id="formdiv" class="col-sm-9 form-group">
            <table>
                <tr>
                    <th>
                        <label for="selecProducto">Producto:</label>
                    </th>
                    <td>
                        <select name="descripcion" class="js-example-basic-single" style="width:auto" id="selecProducto">
                    </td>
                    <th>
                        <label for="selectStock">Stock:</label>
                    </th>
                    <td>
                        <input type="text" name="stock" class="form-control" style="width:100px" readonly id="selectStock">
                    </td>
                    <th>
                        <label for="selecCant">Cantidad:</label>
                    </th>
                    <td>
                        <input type="number" name="selecCant"  class="form-control" style="width:100px" id="selecCant">
                    </td>
                    <td id="tdAgregarbutton">
                        <button type="button" id="agregarProd" class="btn btn-outline-info ">+ Agregar</button>
                    </td>
                </tr>
            </table>
            <br>
            <table class="table table-bordered table-hover" id="tab_logic">
                <thead>
                <tr>
                    <th class="text-center"> # </th>
                    <th class="text-center"> Producto </th>
                    <th hidden class="text-center"> codigo</th>
                    <th class="text-center"> Cant </th>
                    <th class="text-center"> Precio </th>
                    <th class="text-center"> Importe </th>
                </tr>
                </thead>
                <tbody id="tbodyDetalle">
                {% for orden in ordenes %}
                <tr id='addr{{orden.linea|add:"-1"}}' >
                    <td>{{orden.linea}}</td>
                    <td><input id='prod{{orden.linea|add:"-1"}}' name='producto' class="form-control" value="{{orden.cod_insumo}}" required readonly="true" /></td>
                    <td hidden width="120px" ><input id='cod{{orden.linea|add:"-1"}}' type="number" name='codigo' value="{{orden.cod_insumo.cod_insumo}}" class="form-control cod" /></td>
                    <td width="120px" ><input id='cant{{orden.linea|add:"-1"}}' type="number" name='cantidad'  placeholder='Cant' value="{{orden.cantidad_venta}}" required readonly class="form-control qty" step="0" min="0"/></td>
                    <td width="150px" ><input id='prec{{orden.linea|add:"-1"}}' type="number" name='precio' placeholder='Precio Unitario' value="{{orden.precio_venta}}" required readonly class="form-control price" step=".01" /></td>
                    <td><input id='total{{orden.linea|add:"-1"}}' type="number" name='total' placeholder='0.00' class="form-control total" readonly step="0.01" /></td>
                    <td><button type='button' id='delete_Linea{{orden.linea|add:"-1"}}' class='btn btn-outline-danger eliminar' >- Quitar</button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="divright" class="col-sm-3">
            <div id="pagarData">
                <label id="labelTotalPagar">Accesos Rapidos</label>
                <div id="billetes" class="col-sm-12"></div>
            </div>
        </div>
        <div class="col-md-12">

            <button id="btnGuardar" type="submit" class="btn btn-success">Guardar</button>
            <a id="someIDA" class = "btn btn-secondary" href="{% url 'betaNegocio:cad_costos_ver_mesas' %}">Cancelar</a>
            <button id="btnPagar"name="Pagar_Pedido" type="submit" href="{% url 'betaNegocio:cad_mesa_pagar_orden' slug=cabecera %}" class="btn btn-success btn-lg">PAGAR</button>
        </div>
    </div>
</form>


{% endblock %}
{% block scripts%}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


    <script>
    var select_data
    var list_lineas = []
    var filas = 0
    var i=1
    document.getElementById("floatingCirclesG").style.display = "block";
    document.getElementById("overlay").style.display = "block";
    $(document).ready(function(){
        $.fn.select2.defaults.set( "theme", "bootstrap" );
        $.fn.select2.defaults.set( "width", "250px" );
        $.fn.select2.defaults.set( "placeholder", "Seleccione" );
        $.fn.select2.defaults.set( "selectOnClose", "true" );
        $('.js-example-basic-single').select2();
        $('label[for=id_num_mesa], input#id_num_mesa').hide();
        console.log("VAVA")




        $.ajax({
            async: false,
            url: 'ajax/retornaJsonInsumos/',
            dataType: 'json',
            success: function (data) {
                select_data = data
                $('.js-example-basic-single').append('<option value=""></option>');
                $.each(data, function(i, obj) {
                    $('.js-example-basic-single').append('<option value="'+i+'">'+obj.nombre_insumo+'</option>');
                });
            }
        });

         $.ajax({
            async: false,
            url: 'ajax/retorna_parametros_master/',
            success: function (data) {
                console.log("WORKS")
                result = data.accesorapido.split(';')
                for (var a in result){
                    var variable = result[a]
                    result2 = variable.split(':')
                    var clase_bebida_comida;
                    if (result2[1]=='B'){
                        clase_bebida_comida = '"btn btn-info classbillete"'
                    }
                    if (result2[1]=='C'){
                        clase_bebida_comida = '"btn btn-warning classbillete"'
                    }
                    $("#billetes").append('<a id ="billete' + result2[0] + '" name="billetes' + result2[0] + '" class='+clase_bebida_comida+' href="#"  value='+result2[0]+' >' + select_data[result2[0]].nombre_insumo +'</a>');
                }
                $('.classbillete').click(function () {
                    if (parseFloat($('#selecProducto').val()) == parseFloat($(this).attr("value"))){
                        acumula = parseFloat($('#selecCant').val()) + 1
                        $('#selecCant').val(acumula)
                    }else{

                        console.log("PRESIONA BILLETE")
                        console.log($(this).attr("value"))
                        var billete = parseFloat($(this).attr("value"))
                        console.log(billete)
                        $('#selecProducto').val(billete).trigger('change');
                        }
                    calc();
                });

           }
        });


        $('#tab_logic > tbody  > tr').each(function() {
                console.log("cuenta filas")
                filas++
                i++
        });
        console.log("cuenta filas= " + filas)
        calc()
        document.getElementById("overlay").style.display = "none";
        document.getElementById("floatingCirclesG").style.display = "none";

    });





    $('.js-example-basic-single').on("change", function (e) {
        var actualIDlinea = $(this).attr("id").replace('prod','');
        var cod_insumo = ($(this).val());
        $('#selectStock').val(select_data[cod_insumo].stock);
        $('#prec'+ actualIDlinea).val(select_data[cod_insumo].precio_venta);
        $('#cant'+ actualIDlinea).val(0);
        $('#selecCant').val(1);
    });


    var actualIDlinea = 0
    $("#agregarProd").click(function(){
        console.log($("#selecProducto").val())
        if (($("#selecProducto").val() != 0) && ($("#selecCant").val()>0)){
            if (parseFloat($('#selectStock').val())<parseFloat($('#selecCant').val())){
                console.log($("#selectStock").val())
                console.log($("#selecCant").val())
                alert('Stock insuficiente');
            }else{
                console.log("validado")

                console.log(filas)
                console.log("LineaActual")
                console.log(actualIDlinea)
                if (filas<1){
                    console.log("PriemraLinea")
                    $("#prod"+actualIDlinea).val($("#selecProducto option:selected" ).text())
                    $("#cod"+actualIDlinea).val($('#selecProducto').val())
                    $("#cant"+actualIDlinea).val($('#selecCant').val())
                    $("#prec"+actualIDlinea).val(select_data[$('#selecProducto').val()].precio_venta)

                }else{
                    $('#tab_logic').append('<tr id="addr'+(i)+'"></tr>');
                    $('#addr'+i).append("<td>"+(filas+1)+"</td><td><input id='prod"+i+"' name='producto' value='" +$("#selecProducto option:selected" ).text()+ "' class='form-control' readonly /></td><td hidden width='120px' ><input id='cod"+i+"' type='number' name='codigo' class='form-control cod' value='"+$('#selecProducto').val()+"' /></td><td width='120px'><input type='number' id='cant"+i+"' name='cantidad' value='"+ $('#selecCant').val() +"' placeholder='Cantidad' readonly class='form-control qty' step='0' min='0'/></td><td width='150px'><input type='number' id='prec"+i+"' name='precio' value='"+select_data[$('#selecProducto').val()].precio_venta+"' placeholder='Precio Unitario' readonly class='form-control price' step='0.00' min='0'/></td><td><input type='number'id='total"+i+"' name='total' placeholder='0.00' class='form-control total' step='.01' readonly/></td><td><button type='button' id='delete_Linea"+i+"' class='btn btn-outline-danger eliminar'>- Quitar</button></td>")
                    $('#addr'+i).find('.eliminar').click(function() {
                        console.log("ID=VALORES NUEVOS")
                        console.log("ID=")
                        console.log($(this).attr("id"))
                        actualIDlinea = $(this).attr("id").replace('delete_Linea','');
                        if ($("#cant"+actualIDlinea).val()==0){
                            console.log("No Hay Valor")
                        }else{
                            select_data[$("#cod"+actualIDlinea).val()].stock = parseFloat(select_data[$("#cod"+actualIDlinea).val()].stock) + parseFloat($("#cant"+actualIDlinea).val())
                            if (filas > 1){
                                $('#addr'+actualIDlinea).remove();
                                filas--;
                                var reorderna=1
                                $('#tab_logic > tbody  > tr').each(function() {
                                    console.log("SOMETHHINS")
                                    $(this).find('td:first-child').html(reorderna++);
                                });
                            }else{
                                $("#prod"+actualIDlinea).val("")
                                $("#cant"+actualIDlinea).val(0)
                                $("#prec"+actualIDlinea).val(0.00)
                                filas--;
                            }
                            calc();
                            console.log("Filas D = " + filas)
                        }
                    });
                }

                filas++;
                console.log("Filas = " + filas)
                calc();
                i++;
                select_data[$("#selecProducto").val()].stock = select_data[$("#selecProducto").val()].stock - $("#selecCant").val()
                $('#selectStock').val(0);
                $("#selecCant").val(0)
                console.log("REACG")
                $('#selecProducto').empty();
                var data =  select_data
                $('.js-example-basic-single').append('<option value=""></option>');
                $.each(data, function(i, obj) {
                    $('.js-example-basic-single').append('<option value="'+i+'">'+obj.nombre_insumo+'</option>');
                });

            }

        }else{
            alert('Seleccione Producto y cantidad');
        }




    });

    $("[id^=delete_Linea]").click(function(){

        console.log("CLICKLINEO START")
        actualIDlinea = $(this).attr("id").replace('delete_Linea','');
        console.log(actualIDlinea )
        console.log($("#cod"+actualIDlinea).val())
        console.log($("#cant"+actualIDlinea).val())
        if ($("#cant"+actualIDlinea).val()==0){
            console.log("No Hay Valor")
        }else{
        console.log("VALORES!22")
        console.log(select_data[$("#cod"+actualIDlinea).val()].stock)
        console.log($("#cant"+actualIDlinea).val())
        console.log($("#cod"+actualIDlinea).val())
            select_data[$("#cod"+actualIDlinea).val()].stock = parseFloat(select_data[$("#cod"+actualIDlinea).val()].stock) + parseFloat($("#cant"+actualIDlinea).val())
            if (filas > 1){
                $('#addr'+actualIDlinea).remove();
                 var reorderna=1
                $('#tab_logic > tbody  > tr').each(function() {
                    console.log("SOMETHHINS")
                    $(this).find('td:first-child').html(reorderna++);
                });
                filas--;
                console.log("Filas D = " + filas)

            }else{
                $("#prod"+actualIDlinea).val("")
                $("#cod"+actualIDlinea).val(0)
                $("#cant"+actualIDlinea).val(0)
                $("#prec"+actualIDlinea).val(0.00)
                filas--;
                console.log("Filas D = " + filas)
            }
            $('#selectStock').val(0);
            $("#selecCant").val(0)
            console.log("REACG")
            $('#selecProducto').empty();
            var data =  select_data
            var data =  select_data
            $('.js-example-basic-single').append('<option value=""></option>');
            $.each(data, function(i, obj) {
                $('.js-example-basic-single').append('<option value="'+i+'">'+obj.nombre_insumo+'</option>');
            });
            calc();
            <!--calc_total()-->
        }
    });


    $('#tab_logic tbody').on('keyup change',function(){
        calc();
    });



    $('#formPost').keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            console.log("Enter does nothing")
            return false;
        }
    });

    $('#btnGuardar').on('click', function() {
        if ($("#id_valor_vendido").val() <= 0){
            alert('Valor Vendido no permitido');
            event.preventDefault();
        };
    });

    $('#btnPagar').on('click', function() {
        calc()
        if ($("#id_valor_vendido").val() <= 0) {
            alert('Valor Vendido no permitido');
            event.preventDefault();
        };
    });

    function calc(){
        $('#tab_logic tbody tr').each(function(i, element) {
            var html = $(this).html();
            if(html!=''){
                var qty = $(this).find('.qty').val();
                var price = $(this).find('.price').val();
                $(this).find('.total').val((qty*price).toFixed(2));
                calc_total();
            }
        });
    }

    function calc_total(){
        total=0;
        $('.total').each(function() {
            total += parseInt($(this).val());
        });
        $('#id_valor_vendido').val(total.toFixed(2));
    }

    $('form').submit(function() {
        document.getElementById("overlay").style.display = "block";
        document.getElementById("floatingCirclesG").style.display = "block";
    });

  </script>
{% endblock %}

